server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/xxx?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&tinyInt1isBit=false
    username: root
    password: 123456
  data:
    redis:
      database: 0
      host: 127.0.0.1
      port: 6379
      password: 123456
springdoc:
  swagger-ui:
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    enabled: true
knife4j:
  enable: true
  setting:
    language: zh_cn
logging:
  level:
    com.github.w4o.xx: debug

app:
  jwt:
    secret: xxxx
    expire: 7200
  aes-key: cxxxxc
  encrypted: false
  upload:
    type: oss # oss, local, cos, qiniu
    oss:
      access-key: LTAI5xxx
      secret-key: IAJrzxxx
      endpoint: oss-cn-beijing.aliyuncs.com
      domain: https://xxx-dev.oss-cn-beijing.aliyuncs.com
      bucket: xxx-dev
      root-path: xxx/
    cos:
      access-key: AKIDxxx
      secret-key: yhCxQxxx
      region: ap-nanjing
      bucket: wp-1311
      domain: https://wp-1311.cos.ap-nanjing.myqcloud.com/
      root-path: /images
    local:
      url: http://xxxx.xxx/upload
      path: /Users/frank/docker/nginx/www/upload
