<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.w4o.xx.service.mapper.AppletUserMapper">

    <select id="findPage" resultType="com.github.w4o.xx.service.dto.applet.user.UserDTO">
        select applet_user.id     as userId,
               applet_user.nick_name,
               applet_user.mobile,
               applet_user.sex,
               applet_user.province,
               applet_user.city,
               applet_user.head_img_url,
               applet_user.union_id,
               applet_user.open_id,
               applet_user.referrer,
               applet_user.create_time,
               applet_user.last_login_time,
               applet_user.last_login_ip,
               referrer.nick_name as referrerName
        from applet_user
                 left join applet_user referrer on referrer.id = applet_user.referrer
        where applet_user.deleted = 0
        order by applet_user.create_time desc
    </select>
</mapper>
