<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.w4o.xx.manage.mapper.SysLogMapper">

    <select id="findPage" resultType="com.github.w4o.xx.manage.dto.sys.log.LogPageDTO">
        select id,
        username,
        operation,
        method,
        params,
        `time`,
        ip,
        ua,
        succeed,
        create_time
        from sys_log
        where sys_log.deleted = 0
        <if test="condition.username != null and condition.username != ''">
            and sys_log.username like concat('%', #{condition.username}, '%')
        </if>
        <if test="condition.startDate != null">
            and sys_log.create_time &gt;= #{condition.startDate}
        </if>
        <if test="condition.endDate != null">
            and sys_log.create_time &lt;= #{condition.endDate}
        </if>
        order by sys_log.create_time desc
    </select>
</mapper>
